<?xml version="1.0" encoding="UTF-8"?>
<phpunit
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.4/phpunit.xsd"
    backupGlobals="false"
    colors="true"
    bootstrap="vendor/autoload.php"
    cacheDirectory=".phpunit.cache"
>
    <coverage/>
    <testsuites>
        <testsuite name="All tests">
            <directory>./tests</directory>
        </testsuite>
    </testsuites>
    <php>
        <ini name="error_reporting" value="-1"/>
    </php>
    <source>
        <include>
            <directory>./src</directory>
            <directory>./tests</directory>
        </include>
        <exclude>
            <directory>./vendor</directory>
        </exclude>
    </source>
</phpunit>
